  /* 水平方向*/
  .tf-row {
    flex-direction: row !important;
  }
  /* 水平方向，垂直居中*/
  .tf-row-vertical-center {
    flex-direction: row !important;
    align-items: center;
  }
  /* 水平方向，分布左右*/
  .tf-row-space-between {
    flex-direction: row !important;
    justify-content: space-between;
  }
  /* 水平方向，居中*/
  .tf-row-center {
    flex-direction: row !important;
    justify-content: center;
  }
  /* 水平方向，换行*/
  .tf-row-wrap {
  	flex-direction: row !important;
  	flex-wrap: wrap;
  }
  .tf-space-between {
    justify-content: space-between;
  }
  .tf-flex-item {
    flex: 1 !important;
  }
  .tf-flex-center {
		align-items: center !important;
		justify-content: center !important;
	}
  .tf-padding-sm {
  	padding: 10rpx;
  }
  .tf-padding-base {
  	padding: 20rpx;
  }
  .tf-padding-lg {
  	padding: 30rpx;
  }
  .tf-padding-between-base {
  	padding: 0 20rpx;
  }
  .tf-mt-base {
    margin-top: $uni-spacing-col-base;
  }
  .tf-mb-base {
    margin-bottom: $uni-spacing-col-base;
  }
  .tf-ml-base {
    margin-left: $uni-spacing-col-base;
  }
  .tf-mr-base {
    margin-right: $uni-spacing-col-base;
  }
  .tf-margin-base {
    margin: $uni-spacing-row-base;
  }
  
  .tf-icon {
  	font-family: iconfont !important;
    color: #bbb
  }
  .tf-text {
  	font-size: $uni-font-size-base;
  }
  .tf-center {
		text-align: center;
	}
  .tf-title {
    font-size: 30rpx;
    font-weight: 500;
  }
  .tf-bg {
    background-color: $uni-bg-color;
  }
  .tf-bg-white {
    background-color: #fff;
  }
  /* 文章间距*/
  .tf-article-box {
    background-color: #fff;
    padding: 50rpx;
  }
  /* 文章标题*/
  .tf-article-title {
    font-size: 38rpx;
    color: $uni-text-color;
    font-weight: 500;
    line-height: 58rpx;
  }
  /* 文章信息*/
  .tf-article-info {
    font-size: 30rpx;
    color: $uni-text-color-grey;
  }
  /* 文章内容*/
  .tf-article-content {
    font-size: $uni-font-size-base;
    color: #666;
    line-height: 58rpx;
  }
  /* 副标题*/
  .tf-subhead-title {
    font-size: $uni-font-size-base;
    color: $uni-text-color;
    margin-bottom: $uni-spacing-col-sm;
  }
  /* 次要内容*/
  .tf-auxiliary-content {
    font-size: $uni-font-size-base;
    color: $uni-text-color-grey;
  }
  /* 图片*/
  .tf-image-box {
    flex-direction: row !important;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .tf-image {
    width: 150rpx;
    height: 150rpx;
    margin-bottom: $uni-spacing-col-sm;
  }
  /* 模块标题*/
  .tf-module-title {
    font-size: $uni-font-size-lg;
    color: $uni-text-color;
    margin-bottom: $uni-spacing-col-base;
  }
  .tf-module-name {
    font-size: $uni-font-size-base;
    color: $uni-text-color-grey;
  }
  /* 普通border*/
  .tf-border-base {
    border-width: 1px !important;
    border-style: solid;
    border-color: $uni-border-color;
  }
  /* 列表box*/
  .tf-list-box {
    background-color: #fff;
    margin-bottom: $uni-spacing-col-lg;
    padding: 20rpx;
  }
  /* 头像*/
  .tf-avatar {
    width: 80rpx;
    height: 80rpx;
    border-radius: $uni-border-radius-circle;
  }
  /* 分割线*/
  .tf-divider-line {
    
  }
  /* 圆角*/
  .tf-radius-base {
    border-radius: $uni-border-radius-base;
  }
  /* 徽章角标*/
  .tf-badge {
    background-color: #fff !important;
    width: 34rpx !important;
    height: 24rpx !important;
    line-height: 26rpx !important;
    font-size: 18rpx !important;
  }