.tf-list {
  flex-direction: row !important;
  padding: 30rpx;
  border-radius:10rpx;
  background-color: #fff;
  margin-bottom: 20rpx;
}
.tf-list-image {
  width: 120rpx;
  height: 120rpx;
  margin-right: 20rpx;
}
.tf-list-title {
  font-size: 30rpx;
  line-height: 48rpx;
}
.tf-list-content {
  font-size: 24rpx;
  line-height: 48rpx;
  color: $uni-text-color-grey;
}

/*卡片视图 */
  .tf-card {
    width: 710rpx;
    flex: 1;
    background-color: #fff;
    border-radius: 8rpx;
    padding: 0 30rpx !important;
    // position: relative;
    // box-shadow: 0 2rpx 4rpx rgba(0, 0, 0, .3);
  }
  .tf-card-footer,
  .tf-card-header {
    flex-direction: row !important;
    justify-content: space-between !important;
    padding: 30rpx 0;
    align-items: center !important;
    border-bottom-width: 2rpx !important;
    border-bottom-style: solid;
    border-bottom-color: $uni-color-divider !important;
  }
  .tf-card-header__title {
    font-size: 30rpx;
    color: $uni-text-color;
    font-weight: bold;
    lines: 1;
    text-overflow: ellipsis;
  }
  .tf-card-header__status {
    width: 140rpx;
    height: 60rpx;
    line-height: 60rpx;
    font-size: 28rpx;
    border-top-left-radius: 30rpx;
    border-bottom-left-radius: 30rpx;
    text-align: center;
    color: #fff;
    background-color: $uni-color-error;
  }
  .tf-card-header-left {
    padding: 20rpx 10rpx;
    justify-content: space-between;
    border-bottom-width: 1rpx !important;
    border-bottom-style: solid;
    border-bottom-color: $uni-color-divider !important;
  }
  .tf-card-content {
    padding: 30rpx 0;
    color: $uni-text-color-grey;
    font-size: 26rpx;
    line-height: 44rpx;
  }
  
  /* input*/
  .tf-phone-input-box {
    flex-direction: row !important;
    width: 650rpx;
    padding: 30rpx 0;
    border-bottom-width: 3rpx !important;
    border-bottom-style: solid;
    border-bottom-color: #383838 !important;
  }
  
  .tf-phone-input-label {
    width: 110rpx;
    font-size: 34rpx;
    font-weight: bold;
    color: #333333;
    margin-right: 50rpx;
  }
  
  .tf-phone-input {
    font-size: 36rpx;
    color: #333333;
  }
  
  .tf-phone-code-btn {
    font-size: 26rpx;
    height:66rpx;
    padding: 0 26rpx;
    margin: 0;
    border-width: 3rpx !important;
    border-style: solid;
    border-color: $uni-icon-color-dark-grey !important;
    border-radius:4rpx;
  }