/* 列表*/
  .tf-list {
    width: 750rpx;
    background-color: #fff;
  }
  
  .tf-list-cell {
    flex-direction: row !important;
    justify-content: space-between;
    align-items: center;
    padding: 20rpx;
  }
  
  .tf-list-cell-hover {
    background-color: #eee;
  }
  
  .tf-list-cell-left {
    font-size: 28rpx;
  }
  
  .tf-list-cell-right {
    flex-direction: row !important;
  }
  
  // .tf-list-cell-right:after {
  //   font-family: iconfont;
  //   font-size: $uni-font-size-sm;
  //   color: $uni-text-color-grey;
  //   content: '\e856';
  //   position: absolute;
  //   top: 8rpx;
  //   right: -15rpx;
  // }
  
  // .tf-list-cell::after {
  //   position: absolute;
  //   z-index: 3;
  //   right: 0;
  //   bottom: 0;
  //   left: 30rpx;
  //   height: 1px;
  //   content: '';
  //   transform: scaleY(.5);
  //   background-color: #c8c7cc;
  // }
  
  /*卡片视图 */
  .tf-card {
    width: 710rpx;
    flex: 1;
    background-color: #fff;
    border-radius: 8rpx;
    padding: 0 30rpx !important;
    // position: relative;
    // box-shadow: 0 2rpx 4rpx rgba(0, 0, 0, .3);
  }
  .tf-card-footer,
  .tf-card-header {
    flex-direction: row !important;
    justify-content: space-between !important;
    padding: 30rpx 0;
    align-items: center !important;
    border-bottom-width: 2rpx !important;
    border-bottom-style: solid;
    border-bottom-color: $uni-color-divider !important;
  }
  .tf-card-header__title {
    font-size: 30rpx;
    color: $uni-text-color;
    font-weight: 500;
    lines: 1;
    text-overflow: ellipsis;
  }
  .tf-card-header__status {
    width: 140rpx;
    height: 60rpx;
    line-height: 60rpx;
    font-size: 28rpx;
    border-top-left-radius: 30rpx;
    border-bottom-left-radius: 30rpx;
    text-align: center;
    color: #fff;
    background-color: $uni-color-error;
  }
  .tf-card-header-left {
    padding: 20rpx 10rpx;
    justify-content: space-between;
    border-bottom-width: 1rpx !important;
    border-bottom-style: solid;
    border-bottom-color: $uni-color-divider !important;
  }
  .tf-card-content {
    padding: 30rpx 0;
    color: $uni-text-color-grey;
    font-size: 26rpx;
    line-height: 44rpx;
  }